body {
  width: 100%;
  overflow:auto;
  margin:0 auto;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #f36ca3;
  height: 75px;
  padding: 20px;
  color: white;
}

.input-area {
  margin:10px;
  padding:20px;
}

.output-area {
  word-wrap: break-word;
}